gymnasium==1.2.3
stable-baselines3==2.7.1
torch==2.11.0
numpy==2.4.3
pandas==2.3.3
ta==0.11.0
scikit-learn==1.8.0
joblib==1.5.3
yfinance==1.2.0
streamlit==1.55.0
plotly==6.6.0
quantstats==0.0.81
matplotlib==3.10.8
seaborn==0.13.2
